#classe_graph{
  width:100%;
}

/*-----------------------------------------------------*/

  .classroom-groupes-cohesion{
    float: right;
    position: relative;
    top: -7px;
    cursor: default !important;
  }
  .classroom-groupes-cohesion-value{
   font-size: 8pt;
   position: relative;
   top: -5px;
 }

#html2pdf-data  .list-group, #classroom-groupes-liste .list-group{
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 1%;
  width: 30%;
}
#html2pdf-data{
  position: relative;
}

#html2pdf-page{
  width: 100%;
  
}
/*-----------------------------------------------------*/
#classroom-addStudents-liste{   
  display: flex;
  flex-direction: column-reverse; 
}
.classroom-addStudents-liste-student{
  margin-bottom: 5px;
  border-left: 2px solid #E3E3E3;
  border-bottom: 2px solid #E3E3E3;
  padding: 4px;
  border-radius:4px;
}
/*-----------------------------------------------------*/

/* The slider itself */
.groupes-slider {
 
  width: 100%; /* Full-width */
  /* height: 25px; Specified height */
  /*  background: #d3d3d3;Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.groupes-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.groupes-slider::-webkit-slider-thumb {
 
 /* width: 25px;Set a specific slider handle width */
 /*  height: 25px; Slider handle height */
 /*background: #4CAF50;  Green background */
 cursor: pointer; /* Cursor on hover */
}

.groupes-slider::-moz-range-thumb {
 /* width: 25px; /* Set a specific slider handle width */
 /*height: 25px; /* Slider handle height */
 /*background: #4CAF50;  Green background */
 cursor: pointer; /* Cursor on hover */
}

#groupesOptions{
  list-style: none;
}
#classroom-groupes-save-list{
  list-style: none;

}
.groupes-save-name{
  margin-left: 4px;
}

#classroom-groupes-save-list li:hover{
  font-weight: bold;

}
#classroom-groupes-save-list li{
 margin-bottom: 2px;

}

#classe-delete{
  position: relative;
  margin-top:10px;
}

#classe-config{
  position: relative;
}

#classroom-export-table tr:hover{
  cursor:pointer;
  background-color:#E9E9E9;
}

#classroom-toolbar{
     border-bottom: 1px dashed #E3E3E3;
      padding-bottom:10px;
    margin-bottom: 10px;
  }